<!DOCTYPE html>
<html lang="it" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>R.A.S.U. - Logs</title>
    <link th:href="@{/css/bootstrap-italia.min.css}" rel="stylesheet">
    <link th:href="@{/css/style.css}" rel="stylesheet">
    <link rel="icon" type="image/x-icon" th:href="@{/img/favicon.ico}">
</head>
<body>

    <div th:replace="fragments/header :: head"></div>

    <main>
        <div class="container">
            <div class="row">
                <div class="col">
                    <div class="container">
                        <div class="row mt-4">
                            <form>
                                <div class="container">
                                    <div class="row">
                                        <div class="form-group col-md-6">
                                            <label for="searchInput">Ricerca Log</label>
                                            <input id="searchInput" name="searchInput" class="form-control" type="text">
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                        <div class="row mt-2">
                            <div class="col">
                                <table class="table" id="myTable">
                                    <thead>
                                    <tr>
                                        <th scope="col">Data</th>
                                        <th scope="col">IP</th>
                                        <th scope="col">Utente</th>
                                        <th scope="col">Presidio</th>
                                        <th scope="col">Scheda PS</th>
                                        <th scope="col">Dettagli</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <th:block th:each="log : ${logs}">
                                        <tr>
                                            <td th:text="${log.datalog}"></td>
                                            <td th:text="${log.pm_ip}"></td>
                                            <td th:text="${log.pm_user}"></td>
                                            <td th:text="${log.presidio}"></td>
                                            <td th:text="${log.schedaps}"></td>
                                            <td th:text="${log.testolog}"></td>
                                        </tr>
                                    </th:block>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>

    <div th:replace="fragments/footer :: footer"></div>

    <script th:src="@{/js/bootstrap-italia.bundle.min.js}"></script>
    <script th:src="@{/js/jquery.min.js}"></script>
    <script>
        $(document).ready(function(){$("#searchInput").on("keyup", function() {let value = $(this).val().toLowerCase();$("#myTable tr").filter(function() {
            $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)});});});
    </script>
</body>
</html>