<!DOCTYPE html>
<html lang="it" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>R.A.S.U. - Elenco Episodi</title>
    <link th:href="@{/css/bootstrap-italia.min.css}" rel="stylesheet">
    <link th:href="@{/css/style.css}" rel="stylesheet">
    <link rel="icon" type="image/x-icon" th:href="@{/img/favicon.ico}">
</head>
<body>

<div th:replace="fragments/header :: head"></div>

    <main>
        <div class="container">
            <div class="row mt-2">
                <div class="col d-flex justify-content-end">
                    <a class="btn btn-primary disabled" th:href="@{/rasu}">Richiesta manuale</a>
                </div>
            </div>
            <div class="row mt-2">
                <div class="col">
                    <div class="table-responsive">
                        <table class="table" id="myTable">
                            <thead>
                            <tr>
                                <th scope="col">Data evento</th>
                                <th scope="col">Nome</th>
                                <th scope="col">Cognome</th>
                                <th scope="col">Codice fiscale</th>
                                <th scope="col">Data incidente</th>
                                <th scope="col">Luogo incidente</th>
                                <th scope="col">Modalita&grave; accesso</th>
                                <th scope="col">Causa incidente</th>
                                <th scope="col">Modalita&grave; arrivo</th>
                                <th scope="col"></th>
                            </tr>
                            </thead>
                            <tbody>
                            <th:block th:each="episodio : ${episodi}">
                                <p th:text="${episodio.accertamentiObj}"></p>
                                <tr>
                                    <td th:text="${episodio.dataOraInizioEpisodio}"></td>
                                    <td th:text="${episodio.nome}"></td>
                                    <td th:text="${episodio.cognome}"></td>
                                    <td th:text="${episodio.codiceFiscale}"></td>
                                    <td th:text="${episodio.dataOraIncidente}"></td>
                                    <td th:text="${episodio.luogoIncidente}"></td>
                                    <td th:text="${episodio.modalitaAccesso}"></td>
                                    <td th:text="${episodio.causaIncidente}"></td>
                                    <td th:text="${episodio.modalitaArrivo}"></td>
                                    <td><a th:href="@{'/rasu/invio/' + ${episodio.idEpisodio}}" class="btn btn-primary">Dettagli</a></td>
                                </tr>
                            </th:block>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </main>

    <div th:replace="fragments/footer :: footer"></div>

    <script th:src="@{/js/bootstrap-italia.bundle.min.js}"></script>
    <script th:src="@{/js/jquery.min.js}"></script>
    <script>
            $(document).ready(function(){$("#searchInput").on("keyup", function() {let value = $(this).val().toLowerCase();$("#myTable tr").filter(function() {
            $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)});});});
    </script>
</body>
</html>