<!DOCTYPE html>
<html lang="it" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>R.A.S.U. - Referto</title>
    <link th:href="@{/css/bootstrap-italia.min.css}" rel="stylesheet">
    <link th:href="@{/css/style.css}" rel="stylesheet">
    <link rel="icon" type="image/x-icon" th:href="@{/img/favicon.ico}">
</head>
<body>

    <div th:replace="fragments/header :: head"></div>

    <main>
        <div class="container-fluid">
            <div class="row mt-4">
                <div class="col-md-6 mx-auto">
                    <div class="bg-light my-auto text-center"><h4>R E F E R T O</h4></div>
                    <table class="table" id="myTable">
                        <tbody>
                        <tr>
                            <td scope="row">
                                <b>Protocollo RASU</b>
                                <br>
                                (Presidio/SchedaPs)
                            </td>
                            <td>234543</td>
                        </tr>
                        <tr>
                            <td scope="row">
                                <b>Protocollo incidente</b>
                                <br>
                                (0000/0000)
                            </td>
                            <td><input type="textarea" placeholder=""></td>
                        </tr>
                        <tr>
                            <th scope="row">Esito Referto: sanzioni</th>
                            <td>
                                <select>
                                    <option value="apple">Negativo</option>
                                    <option value="banana">Sanzionato alcol</option>
                                    <option value="orange">Sanzionato droghe/farmaci</option>
                                    <option value="pear">Sanzionato alcol + droghe/farmaci</option>
                                </select>
                            </td>
                        </tr>
                        <tr>
                            <td scope="row">
                                <b>Alcolemia rilevata</b>
                                <br>
                                (0,00)
                            </td>
                            <td><input type="textarea" placeholder=""></td>
                        </tr>
                        <tr>
                            <th scope="row">Presenza sostanze stupefacenti e psicotrope</th>
                            <td><textarea readonly></textarea></td>
                        </tr>
                        <tr>
                            <th scope="row">Provvedim. Veicolo</th>
                            <td>
                                <select>
                                    <option value="apple">Fermo</option>
                                    <option value="banana">Sequestro</option>
                                </select>
                            </td>
                        </tr>
                        <tr>
                            <td scope="row">
                                <b>Provvedim. Veicolo data</b>
                                <br>
                                (gg/mm/aaaa)
                            </td>
                            <td><input type="textarea" placeholder=""></td>
                        </tr>
                        <tr>
                            <td scope="row">
                                <b>Reparto rilevatore</b>
                                <br>
                                (max 32 car.)
                            </td>
                            <td><input type="textarea" placeholder=""></td>
                        </tr>
                        <tr>
                            <td scope="row">
                                <b>Agenti rilevatori</b>
                                <br>
                                (max 32 car.)
                            </td>
                            <td><input type="textarea" placeholder=""></td>
                        </tr>
                        <tr>
                            <td scope="row">
                                <b>Avvisati Rilevatori</b>
                                <br>
                                (max 32 car.)
                            </td>
                            <td><input type="textarea" placeholder=""></td>
                        </tr>
                        <tr>
                            <td scope="row">
                                <b>Definizione Rapporto</b>
                                <br>
                                (max 32 car.)
                            </td>
                            <td><input type="textarea" placeholder=""></td>
                        </tr>
                    </table>
                    <div class="bg-light my-auto"><h5>Medicina legale</h5></div>
                    <table class="table" id="myTable2">
                        <tr>
                            <td scope="row">
                                <b>Data referto</b>
                                <br>
                                (gg/mm/aaaa)
                            </td>
                            <td><input type="textarea" placeholder=""></td>
                        </tr>
                        <tr>
                            <td scope="row">
                                <b>Note Referto</b>
                                <br>
                                (max 128 car.)
                            </td>
                            <td><textarea readonly></textarea></td>
                        </tr>
                        <tr>
                            <td scope="row">
                                <b>File Referto</b>
                                <br>
                                (.pdf .jpg Max 3 MB)
                            </td>
                            <td><img th:src="@{/img/logopdf.png}" height="64px" alt="Logo pdf" /></td>
                        </tr>
                        </tbody>
                    </table>
                    <div class="row">
                        <div class="col-md-4">
                            <a href='/rasu/referti' class="btn btn-primary">Annulla</a>
                            <a class="btn btn-outline-primary">Salva modifiche</a>
                        </div>
                    </div>
                    <br>
                    <div class="bg-light my-auto"><h6>Storico Operazioni: [username dataOra]modifica: VOCE(valorePrecedente)</h6></div>
                    <td><textarea readonly></textarea></td>
                </div>
                <div class="col-md-6 mx-auto">
                    <table class="table" id="myTable1">
                        <tbody>
                        <tr>
                            <th scope="row">Cognome</th>
                            <td th:text="${referto.cvrrasu.cognome}"></td>
                        </tr>
                        <tr>
                            <th scope="row">Nome</th>
                            <td th:text="${referto.cvrrasu.nome}"></td>
                        </tr>
                        <tr>
                            <th scope="row">Data nascita</th>
                            <td th:text="${referto.cvrrasu.data_nascita}"></td>
                        </tr>
                        <tr>
                            <th scope="row">Codice fiscale</th>
                            <td th:text="${referto.cvrrasu.codice_fiscale}"></td>
                        </tr>
                        <tr>
                            <th scope="row">PS descrizione</th>
                            <td th:text="${referto.cvrrasu.ps_desc}"></td>
                        </tr>
                        <tr>
                            <th scope="row">Presidio</th>
                            <td th:text="${referto.cvrrasu.presidio}"></td>
                        </tr>
                        <tr>
                            <th scope="row">Scheda PS</th>
                            <td th:text="${referto.cvrrasu.schedaps}"></td>
                        </tr>
                        <tr>
                            <th scope="row">Data evento</th>
                            <td th:text="${referto.cvrrasu.data_evento}"></td>
                        </tr>
                        <tr>
                            <th scope="row">Luogo incidente</th>
                            <td th:text="${referto.cvrrasu.luogo_incidente}"></td>
                        </tr>
                        <tr>
                            <th scope="row">Comune incidente</th>
                            <td th:text="${referto.cvrrasu.comune_incidente}"></td>
                        </tr>
                        <tr>
                            <th scope="row">Causa incidente</th>
                            <td th:text="${referto.cvrrasu.causa_incidente}"></td>
                        </tr>
                        <tr>
                            <th scope="row">Modalita&grave; arrivo</th>
                            <td th:text="${referto.cvrrasu.modalita_arrivo}"></td>
                        </tr>
                        <tr>
                            <th scope="row">Modalita&grave; accesso</th>
                            <td th:text="${referto.cvrrasu.modalita_accesso}"></td>
                        </tr>
                        <tr class="complementary-3-bg-a7 text-white">
                            <th scope="row">R.A.S.U. protocollo</th>
                            <td th:text="${referto.cvrrasu.rasu_protocollo}"></td>
                        </tr>
                        <tr class="complementary-3-bg-a7 text-white">
                            <th scope="row">R.A.S.U. inserimento</th>
                            <td th:text="${referto.cvrrasu.rasu_datains}"></td>
                        </tr>
                        <tr class="complementary-3-bg-a7 text-white">
                            <th scope="row">R.A.S.U. data invio</th>
                            <td th:text="${referto.cvrrasu.rasu_datainvio}"></td>
                        </tr>
                        <tr class="complementary-3-bg-a7 text-white">
                            <th scope="row">R.A.S.U. note</th>
                            <td th:text="${referto.cvrrasu.rasu_note}"></td>
                        </tr>
                        <tr class="complementary-3-bg-a7 text-white">
                            <th scope="row">PM IP</th>
                            <td th:text="${referto.cvrrasu.pm_ip}"></td>
                        </tr>
                        <tr class="complementary-3-bg-a7 text-white">
                            <th scope="row">PM user</th>
                            <td th:text="${referto.cvrrasu.pm_user}"></td>
                        </tr>
                        <tr class="complementary-3-bg-a7 text-white">
                            <th scope="row">PM cognome</th>
                            <td th:text="${referto.cvrrasu.pm_cognome}"></td>
                        </tr>
                        <tr class="complementary-3-bg-a7 text-white">
                            <th scope="row">PM nome</th>
                            <td th:text="${referto.cvrrasu.pm_nome}"></td>
                        </tr>
                        <tr class="complementary-3-bg-a7 text-white">
                            <th scope="row">PMVA cognome</th>
                            <td th:text="${referto.cvrrasu.pmva_cognome}"></td>
                        </tr>
                        <tr class="complementary-3-bg-a7 text-white">
                            <th scope="row">PMVA nome</th>
                            <td th:text="${referto.cvrrasu.pmva_nome}"></td>
                        </tr>
                        <tr class="complementary-3-bg-a7 text-white">
                            <th scope="row">PMVA data nascita</th>
                            <td th:text="${referto.cvrrasu.pmva_datanascita}"></td>
                        </tr>
                        <tr class="complementary-3-bg-a7 text-white">
                            <th scope="row">PMVA residenza</th>
                            <td th:text="${referto.cvrrasu.pmva_residenza}"></td>
                        </tr>
                        <tr class="complementary-3-bg-a7 text-white">
                            <th scope="row">PMVA luogo incidente</th>
                            <td th:text="${referto.cvrrasu.pmva_luogoincidente}"></td>
                        </tr>
                        </tbody>
                    </table>
                    <p>PMVA - Variazioni Anagrafiche segnalate</p>
                </div>
            </div>
        </div>
    </main>

    <div th:replace="fragments/footer :: footer"></div>

    <script th:src="@{/js/bootstrap-italia.bundle.min.js}"></script>
    <script th:src="@{/js/jquery.min.js}"></script>
    <script>
        $(document).ready(function(){$("#searchInput").on("keyup", function() {let value = $(this).val().toLowerCase();$("#myTable tr").filter(function() {
            $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)});});});
    </script>
</body>
</html>